/* Adicione estilos ao seletor de linguagem conforme necessário */
#language-selector {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, main, footer {
    width: 100%;
    text-align: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#editor-section, #output-section {
    width: 80%; /* Ajustado para ocupar mais da largura da tela */
    max-width: 800px; /* Limita a largura para uma melhor legibilidade */
}

#language-selector, #code-editor {
    width: 100%;
    box-sizing: border-box;
}

#language-selector {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
}

#code-editor {
    height: 300px;
    border: 1px solid #ccc;
}

#output-frame {
    width: 100%;
    height: 300px;
    border: 1px solid #ccc;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

#run-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}
